/* Header.module.css */

.header {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerGlassLayer {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(47, 47, 77, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logoContainer {
  flex-shrink: 0;
}

.logo {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* Oculta el ícono de hamburguesa en escritorio */
.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--golden-accent);
}

/* En escritorio, la navegación siempre está visible y en flex */
.nav {
  display: flex;
  gap: 2rem;
  flex-basis: 100%;
  justify-content: flex-end;
  opacity: 1; /* Aseguramos la visibilidad */
  transition: opacity 0.3s ease-in-out;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav li {
  font-size: 1.2rem;
}

.nav a {
  color: var(--silver-accent);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav a:hover,
.nav a.activeLink {
  color: var(--golden-accent);
  border-bottom: 2px solid var(--golden-accent);
  transform: scale(1.05);
}

/* ---------------------------------------------------------------------------------------------------------- */

/* Estilos para Tabletas y Móviles */
@media (max-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }

  /* Muestra el ícono del menú hamburguesa */
  .menuIcon {
    display: block;
  }

  /* Oculta el menú por defecto en móviles */
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  /* La clase `navOpen` lo hace visible */
  .navOpen {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    gap: 3rem;
  }
}