.footer {
  /*padding: 40px 20px;*/
  font-family: Arial, sans-serif;
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  background-color: var(--secondary-background); /* Fondo oscuro */
  color: var(--text-light); /* Color de texto para la sección superior */
}

.footerSection {
  flex: 1;
  min-width: 200px;
}

.footerSection h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--text-light);
  padding-bottom: 5px;
  color: var(--text-light);
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 10px;
}

.footerSection ul li a {
  text-decoration: none;
  color: var(--text-light);
  transition: color 0.2s;
}

.footerSection ul li a:hover {
  color: var(--golden-accent);
}

.footerSection p {
  margin-bottom: 10px;
}

.footerBottom {
  text-align: center;
  padding: 15px 20px;
  font-size: 0.9rem;
  background-color: #FAF0E6; /* Color marfil claro (Linen) */
  color: var(--text-dark); /* Color de texto para la sección inferior */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerBottom p {
  color: var(--primary-background);
  padding: 5px;
  margin: 0;
}

.footerBottom a {
  color: var(--text-dark);
  text-decoration: none;
}

.footerBottom a:hover {
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialIcon {
  color: var(--text-light);
  font-size: 1.5rem;
  transition: color 0.2s;
}

.socialIcon:hover {
  color: var(--golden-accent);
}